<div class="usa-banner draft-banner">
  <div class="usa-accordion">
    <header class="usa-banner-header">
      <div class="usa-grid usa-banner-inner">
        <p>This is a draft strategy open for public feedback.</p> <button class="usa-accordion-button usa-banner-button" aria-expanded="false" aria-controls="draft-banner"> <span class="usa-banner-button-text">Here's how to contribute</span> </button> </div>
    </header>
    <div class="usa-banner-content usa-grid usa-accordion-content" id="draft-banner">
      <h3>Instructions for Public Comment</h3>
      <p>
        You may provide feedback in three ways:
      </p>
      <p>
       1. Content suggestions and discussions are welcome via GitHub “issues.” Each issue is a conversation initiated by a member of the public. We encourage you to browse and <a href="https://github.com/{{ site.github.organization }}/{{ site.github.repository }}/issues">join in on discussions</a> in existing issues, or start a new conversation by opening a <a href="https://github.com/{{ site.github.organization }}/{{ site.github.repository }}/issues/new">new issue</a>.
      </p>
      <p>
        2. Direct changes and line edits to the content may be submitted through a <a href="https://help.github.com/articles/creating-a-pull-request">&quot;pull request&quot;</a> by clicking &quot;Edit this page&quot; on any site page in <a href="https://github.com/{{ site.github.organization }}/{{ site.github.repository }}/tree/{{ site.github.default_branch }}/pages/">the repository.</a>. You do not need to install any software to suggest a change. You can use GitHub's in-browser editor to edit files and submit a pull request for your changes to be merged into the document. Directions on how to submit a pull request can be found <a href="https://help.github.com/articles/creating-a-pull-request">on GitHub</a>. Open pull requests for the proposed guidance can be found <a href="https://github.com/{{ site.github.organization }}/{{ site.github.repository }}/pulls">in the site repository on GitHub</a>
      </p>
      <p>
        3. Send your content suggestions or proposed revisions to the OMB Office of the Federal Chief Information Officer via email to <a href="mailto:{{site.mail}}">{{site.mail}}</a>. Please note that all comments received will be posted publicly on this page.
      </p>
    </div>
  </div>
</div>