<!--   ______  __      ____  __   __ _____
     ,'   __ '|  |   .' __ '|  | |  |  __ ',
     |  ,'  '-|  |   | |  | |  | |  | |  | |
     |  '.__,-|  |___| '--' |  '-'  | '--' |
     ',______,'______,'____' '_____'|_____,'

                 ./ombomb+:.
             --omb/:---:/omb', ,,,,,
           -omb-...........h+ombofcio:`
          /omb......................-omb+`
         -omb..............-:-.........omb
        `':::--............-omb--.......:'/
    `:ombofcio'-.........--ofcio/-.......omb-
  `+omb:-.....-/':......../omb--:omb-....-:omb:
 .',:.....................//-.....-+-.......-omb`
 ',-............//............................omb
.'+.............||.......................-:/:..+'.
.'+.............'|+-.................../'omb/../'.
 ,'-......-':...-omb.......:/.........omb-.....'`
 `,'/.....-',....-ofcio..../'+.......-'+......omb
   :omb/-..+',:....-omb.....+'::......-...../omb
     ./ombofcio:............+-omb+:-..-:+omb/`
              `/omb+:-..-:+omb: `:ombofcio:`
                 `:+ofcio
       ______ __   __  _____  ______ ________
     ,'      |  'v'  |/     \|  __  |        |
     '. '----|  . .  |  .^.  | |  | /--,  ,--'
     ,----.  |  |v|  |  |-|  | '--' \  |  |
     '._____,|__| |__|__| |__|_|  |_|  |__| -->